{% extends 'base.html' %}
{% load static %}

{% block title %}
Events
{% endblock %}

{% block content %}
<h2 class="text-center" style="color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Events</h2>

<div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around;">
    {% for i in eve %}
    <div class="card" style="width: 19rem; margin-bottom: 20px;">
        <img src="{{i.img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="color: black;">{{i.name}}</h5>
            <p class="card-text" style="color: black;">{{i.desc}}</p>
            <a href="{% url 'booking' %}" class="btn btn-primary">Book Now</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
